services:
  app-local:
    image: crewflow-app:latest
    container_name: crewflow-app-local
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://usuario:senha@postgres-staging:5432/nome_banco?schema=public
      - JWT_SECRET=sua-chave-jwt-secreta
      - NEXTAUTH_URL=http://localhost:3000
      - PORT=3000
      - NODE_ENV=production
    networks:
      - projetogran_crewflow-network
    command: sh -c "npx prisma migrate deploy && npm start"

  app-dev:
    image: node:18-alpine
    container_name: crewflow-app-dev
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://usuario:senha@postgres-staging:5432/nome_banco?schema=public
      - JWT_SECRET=sua-chave-jwt-secreta
      - NEXTAUTH_URL=http://localhost:3000
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=3000
      - WATCHPACK_POLL=3000
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - projetogran_crewflow-network
    command: sh -c "npm ci && npx prisma generate && npm run dev"

networks:
  projetogran_crewflow-network:
    external: true